@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.imagem_preview {
    border: 2px solid transparent;
    border-radius: 15px;
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
    height: 240px;
    width: 180px;
    padding: 1% 2%;
}

.imagem_preview:hover {
    border: 2px solid white;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.galeria {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-auto-flow: column; 
    gap: 20px;
    justify-content: center; 
    align-items: center;
    padding: 19px;
    height: calc(100vh - 20vh);
}

.menu-direita {
    display: flex;
    justify-content: flex-end; /* Alinha à direita */
    gap: 20px; /* Espaço entre as palavras */
    padding: 20px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #1D1616;
}

body {
    height: 100vh;
    background-image: url('./img/fundo-escuro.jpg');
    background-size: 100%;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D90303FF;
    color: white;
    height: 14vh;
    font-size: 1.5rem;
    padding-left: 2%;
    font-family: "Inter", sans-serif;
}

header {
    padding-left: 30px; 
}  

.menu-direita {
    justify-content: center;
    display: flex;
    gap: 10px;
    font-size: 1rem;
    padding: 30px;
}

.texto-negrito {
    font-weight: bold;
    margin-left: 5px;
    cursor: 'pointer';
    transform: color 0.3s ease;
}

.texto-negrito:hover {
  color: #EEEEEE; /* ou outra cor que preferir */
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 20px;
  }
}