@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #16161a;
    --cor-texto: #e1e1e6;
    --cor-destaque: #8234e9;
    --cor-borda: #e1e1e6;
}

body {
    height: 100vh;
    background: var(--cor-fundo);
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

/* ========== HEADER ========== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-destaque);
    color: var(--cor-texto);
    height: 14vh;
    font-size: 1.5rem;
    padding: 0 30px;
}

.texto-negrito {
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.texto-negrito:hover {
    color: var(--cor-fundo);
}

/* ========== MENU DIREITA ========== */
.menu-direita {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1.3rem;
    color: var(--cor-texto)
}

/* ========== GALERIA DE SÉRIES ========== */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.imagem_preview {
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.80);
    border: 2px solid transparent;
    border-radius: 13px;
    transition: transform 0.5s ease, border 0.4s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 240px;
    width: 180px;
    object-fit: cover;
}

.imagem_preview:hover {
    border: 3px solid var(--cor-borda);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .menu-direita {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        padding: 10px 0;
    }

    .imagem_preview {
        height: 200px;
        width: 140px;
        padding: 0;
    }
}

.detalhes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    color: var(--cor-borda);
    text-align: center;
}

.botao-voltar a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.descricao-serie {
    max-width: 600px;
    margin-top: 20px;
    line-height: 1.6;
}

.descricao-serie h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.descricao-serie p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .descricao-serie h2 {
        font-size: 1.8rem;
    }

    .descricao-serie p {
        font-size: 1rem;
    }

    .imagem_preview {
        width: 140px;
        height: 200px;
    }
}

/* Tema Padrão: escuro */
body {
    background-color: #111;
    color: #eee;
    transition: background 0.3s ease, color 0.3s ease;
}

.modo-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body.modo-claro .modo-btn {
    color: black;
}

.modo-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}